<!--The content below is only a placeholder and can be replaced.-->
<div class="homepage">
    <h1>
    Meal to List
    </h1>
    <div class="homepage__options">
        <a routerLink="/meal-manager">
            <div class="options__meal-manager">
                Meal Manager
            </div>
        </a>
        <a>

            <div class="options__plan-meals">
                Plan Your Meals
            </div>
        </a>
        <a>
            <div class="options__shop">
                Shopping List
            </div>
        </a>
    </div>

</div>
