.homepage {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #f0f4c3;
    box-sizing: border-box;
    color: #212121;
    h1 {
        padding: 50px;
        font-size: 50px;
        margin: 0;
    }
    .homepage__options {
        > a {
            text-decoration: none;
            color: #212121;
        }
        > a div {
            padding: 20px 40px;
            font-size: 30px;
            margin: 0 auto;
            margin-bottom: 20px;
            max-width: 500px;
            border-radius: 10px;
            cursor: pointer;
        }
        .options__meal-manager {
            background-color: #d4e157;
        }
        .options__plan-meals {
            background-color: #8bc34a;
        }
        .options__shop {
            background-color: #4caf50;
        }
    }
}
