.widthsetter {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #f0f4c3;
    box-sizing: border-box;
    color: #212121;
    .newmeal {
        width: 400px;
        margin: 0 auto;
        height: 100%;
        .newmeal__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            height: 10%;
            font-size: 40px;
            border-right: 1px solid black;
            border-left: 1px solid black;
        }
        .newmeal__name {
            box-sizing: border-box;
            height: 5%;
            border-right: 1px solid black;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            .name__container {
                width: 90%;
                height: 44px;
                margin: 0 auto;
                p {
                    display: block;
                    float: left;
                    width: 15%;
                    height: 100%;
                    padding: 13px 0;
                    margin: 0;
                    box-sizing: border-box;
                    font-size: 15px;
                }
                input {
                    width: calc(100% - 30%);
                    float: left;
                    height: 100%;
                    box-sizing: border-box;
                    border: none;
                    background-color: rgba(0,0,0,0);
                    font-size: 20px;
                    text-align: center;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .newmeal__form {
            height: 75%;
            box-sizing: border-box;
            overflow-y: scroll;
            padding: 20px;
            border-right: 1px solid black;
            border-left: 1px solid black;
            clear: both;
            div {
                padding: 5px;
            }
            input {
                height: 18px;
                &:focus {
                    outline: none;
                }
            }
            button {
                font-size: 15px;
                background-color: #7cb342;
            }
        }
        > a {
            .newmeal__save {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 10%;
                box-sizing: border-box;
                font-size: 30px;
                cursor: pointer;
                background-color: #7cb342;
            }
        }
    }


}
