<div class="widthsetter">
    <div class="newmeal">
        <div class="newmeal__title">New Meal</div>
        <div class="newmeal__name">
            <p>Meal Name:</p>
            <input type="text">
        </div>
        <div class="newmeal__form">
            <!-- <input type="text" (keyup)="keyPress($event)" (keyup.enter)="addIngredient(currentIngredient)" [value]="currentIngredient">
            <button (click)="addIngredient(currentIngredient)">ADD</button> -->
            <app-item *ngFor="let ing of ingredients" [name]="ing"></app-item>
            <app-add-item (newItem)="newItemHandler($event)"></app-add-item>
        </div>
        <a (click)="saveMeal()"><div class="newmeal__save">
            Save
        </div></a>
    </div>
</div>
